<nav class=" text-black flex justify-center mb-0 my-4 sm:flex-row">
  <ul class="flex justify-center text-xl">
    <li class="list-none">
      <a class="hover:bg-zinc-200 translate-all block py-4 px-5 list-none" href="{{path('homepage')}}">Home</a>
    </li>
    <li>
      <a class="hover:bg-zinc-200 translate-all block py-4 px-5 list-none" href="{{path('app_about')}}">About</a>
    </li>
    <li>
      <a class="hover:bg-zinc-200 translate-all block py-4 px-5 list-none" href="{{path('app_shop')}}">Shop</a>
    </li>
    <li>
      <a class="hover:bg-zinc-200 translate-all block py-4 px-5 list-none" href="{{path('app_newsletter_subscribe')}}">Newsletter</a>
    </li>
    <li>
      <a class="hover:bg-zinc-200 translate-all block py-4 px-5 list-none" href="{{path('app_contact')}}">Contact</a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li>
      <a class="hover:bg-zinc-200 translate-all block py-4 px-5 list-none" href="{{path('app_profile')}}">Profile</a>
    </li>
    <li>
      <a class="hover:bg-zinc-200 translate-all block py-4 px-5 list-none" href="{{path('app_logout')}}">Déconnexion</a>
    </li>
    {% else %}
    <li>
      <a class="hover:bg-zinc-200 translate-all block py-4 px-5 list-none" href="{{path('app_login')}}">Login</a>
    </li>
    {% endif %}
  </ul>
</nav>
